{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  // "plugins": ["stylelint-scss"],
  "processors": [
    [
      "stylelint-processor-styled-components",
      {
        "ignoreFiles": ["**/*.scss", "**/*.css"]
      }
    ]
  ],
  "rules": {
    "declaration-empty-line-before": "never"
  }
}
